{% for field in fields if field.form_snippet is not none %}
    {% if field.show_if %}
        <div data-module="charts-conditional"
             data-module-conditions="{{ h.dump_json(field.show_if) | forceescape }}"
             data-module-field-name="{{ field.field_name }}"
             style="display:none">
            {% snippet 'charts/snippets/charts_form_field.html', field=field, data=data, errors=errors, resource_id=resource_id %}
        </div>
    {% else %}
        {% snippet 'charts/snippets/charts_form_field.html', field=field, data=data, errors=errors, resource_id=resource_id %}
    {% endif %}
{% endfor %}
