include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/charts *.html *.json *.js *.less *.css *.mo *.yml *.yaml *.svg
recursive-include ckanext/charts/migration *.ini *.py *.mako
