<div class="form-group control-full control-large">
    <div class="controls">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#moreInfoModal">
            More info
        </button>
    </div>
</div>


<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreInfoModalLabel">Supported Date Formats</h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="date-formats-container">
                    <div class="date-formats-container__row">
                        <div class="date-formats-container__column">
                            <p class="date-formats-text"><strong>Timestamp Format</strong></p>
                            <ul class="date-formats-list">
                                <li class="date-formats-item">YYYY-MM-DD</li>
                                <li class="date-formats-item">YYYY/MM/DD</li>
                                <li class="date-formats-item">MM-DD-YYYY</li>
                                <li class="date-formats-item">MM/DD/YYYY</li>
                                <li class="date-formats-item">DD-MM-YYYY</li>
                                <li class="date-formats-item">DD/MM/YYYY</li>
                                <li class="date-formats-item">dd/MMM/yyyy</li>
                                <li class="date-formats-item">YYYYMMDD</li>
                                <li class="date-formats-item">YYYY-MM-DDTHH:MM:SS</li>
                                <li class="date-formats-item">YYYY-MM-DD HH:mm:ss</li>
                                <li class="date-formats-item">YYYY-MM-DDTHH:mm:ssZ</li>
                                <li class="date-formats-item">YYYY-MM-DD HH:mm:ss.SSS</li>
                                <li class="date-formats-item">MM/dd/yyyy hh:mm:ss a</li>
                                <li class="date-formats-item">MM/dd/yyyy hh:mm:ss a:SSS</li>
                                <li class="date-formats-item">MMdd_HH:mm:ss.SSS</li>
                                <li class="date-formats-item">dd MMM yyyy HH:mm:ss*SSS</li>
                                <li class="date-formats-item">dd MMM yyyy HH:mm:ss</li>
                                <li class="date-formats-item">yyMMdd HH:mm:ss</li>
                                <li class="date-formats-item">yy-MM-dd HH:mm:ss</li>
                            </ul>
                        </div>
                        <div class="date-formats-container__column">
                            <p class="date-formats-text"><strong>Example</strong></p>
                            <ul class="date-formats-list">
                                <li class="date-formats-item">2023-07-24</li>
                                <li class="date-formats-item">2023/07/24</li>
                                <li class="date-formats-item">07-24-2023</li>
                                <li class="date-formats-item">07/24/2023</li>
                                <li class="date-formats-item">24-07-2023</li>
                                <li class="date-formats-item">24/07/2023</li>
                                <li class="date-formats-item">25/Nov/2023</li>
                                <li class="date-formats-item">20231125</li>
                                <li class="date-formats-item">2023-07-24T14:30:00</li>
                                <li class="date-formats-item">2023-11-25 12:34:56</li>
                                <li class="date-formats-item">2023-11-25T12:34:56Z</li>
                                <li class="date-formats-item">2023-11-25 12:34:56.789</li>
                                <li class="date-formats-item">9/28/2023 2:23:15 PM</li>
                                <li class="date-formats-item">8/5/2023 3:31:18 AM:234</li>
                                <li class="date-formats-item">0423_11:42:35.883</li>
                                <li class="date-formats-item">23 Apr 2023 10:32:35*311</li>
                                <li class="date-formats-item">23 Apr 2023 11:42:35</li>
                                <li class="date-formats-item">220423 11:42:35</li>
                                <li class="date-formats-item">23-04-19 12:00:17</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
