<div class="form-group control-full control-large">
    <div class="controls">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#engineDetailsModal">
            {{ _("Engine Details") }}
        </button>
    </div>
</div>


<div class="modal fade" id="engineDetailsModal" tabindex="-1" role="dialog" aria-labelledby="engineDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreInfoModalLabel">{{ _("Engine Details") }}</h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ _("The zoom functionality is currently supported for Chart.js and Plotly charts. These libraries offer built-in zoom and pan features, allowing users to interact with the data by zooming in, out, or panning across the chart.") }}
                </p>
                <p>
                    {{ _("Observable Plot does not yet support zoom and pan features as some other charting libraries do. We are actively working to enhance our charting capabilities and may include native support for zoom and pan in Observable Plot in future updates.") }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ _("Close") }}</button>
            </div>
        </div>
    </div>
</div>
