chartjs:
  filter: rjsmin
  output: ckanext-charts/%(version)s-chartjs.js
  contents:
    - js/vendor/chartjs.min.js
    - js/charts-render-chartjs.js
  extra:
    preload:
      - base/main

plotly:
  filter: rjsmin
  output: ckanext-charts/%(version)s-plotly.js
  contents:
    - js/vendor/plotly.min.js
    - js/charts-render-plotly.js
  extra:
    preload:
      - base/main

observable:
  filter: rjsmin
  output: ckanext-charts/%(version)s-observable.js
  contents:
    - js/vendor/d3.min.js
    - js/vendor/observable.min.js
    - js/charts-render-observable.js
  extra:
    preload:
      - base/main

charts-js:
  filter: rjsmin
  output: ckanext-charts/%(version)s-charts.js
  contents:
    - js/charts-global.js
  extra:
    preload:
      - base/main

charts-css:
  filter: cssrewrite
  output: ckanext-charts/%(version)s-charts.css
  contents:
    - css/charts.css
