chartjs:
  filter: rjsmin
  output: ckanext-charts/%(version)s-chartjs.js
  contents:
    - js/vendor/chartjs.min.js

    - js/charts-chartjs.js
    - js/charts-render-chartjs.js
  extra:
    preload:
      - base/main

plotly:
  filter: rjsmin
  output: ckanext-charts/%(version)s-chartjs-plotly.js
  contents:
    - js/vendor/plotly.min.js

    # - js/charts-form.js
    - js/charts-render-plotly.js
  extra:
    preload:
      - base/main


charts-css:
  filter: cssrewrite
  output: ckanext-charts/%(version)s-charts.css
  contents:
    - css/charts.css
