chartjs:
  filter: rjsmin
  output: ckanext-charts/%(version)s-chartjs.js
  contents:
    # do not change the order of these files as they are dependent on each other
    - js/vendor/chartjs.min.js
    - js/vendor/chartjs-adapter-moment.js
    - js/vendor/hammerjs.min.js
    - js/vendor/chartjs-plugin-zoom.min.js
    ##############################

    - js/charts-render-chartjs.js
  extra:
    preload:
      - base/main

plotly:
  filter: rjsmin
  output: ckanext-charts/%(version)s-plotly.js
  contents:
    - js/vendor/plotly.min.js
    - js/charts-render-plotly.js
  extra:
    preload:
      - base/main

observable:
  filter: rjsmin
  output: ckanext-charts/%(version)s-observable.js
  contents:
    - js/vendor/d3.min.js
    - js/vendor/observable.min.js
    - js/charts-render-observable.js
  extra:
    preload:
      - base/main

charts-js:
  filter: rjsmin
  output: ckanext-charts/%(version)s-charts.js
  contents:
    - js/charts-global.js
    - js/charts-select.js
    - js/charts-filters.js
  extra:
    preload:
      - base/main

charts-css:
  filter: cssrewrite
  output: ckanext-charts/%(version)s-charts.css
  contents:
    - css/charts.css

charts-htmx:
  filter: rjsmin
  output: ckanext-charts/%(version)s-charts-htmx.js
  contents:
    - js/vendor/htmx.min.js

tom-select-js:
  output: ckanext-charts/%(version)s-tom-select.js
  contents:
    - js/vendor/tom-select.complete.min.js

tom-select-css:
  output: ckanext-charts/%(version)s-tom-select.css
  contents:
    - css/vendor/tom-select.min.css
