@import "variables";
@import "mixins";

.row.wrapper.charts-view {

    .dataset-resource-form {
        position: relative;
        padding: 0;
    }

    label.no-dots {
        &:after {
            display: none;
        }
    }
}
